.Login {
  border: 1px solid #5e50a1 !important;
  text-align: center !important;
  color: #5e50a1 !important; /* Menetapkan warna teks dengan !important */
}

.Register {
  text-align: center !important;
  background-color: #5e50a1 !important;
  color: white !important;
  border: 1px solid #5e50a1 !important;
}

.dropdown-menu {
  margin: 0;
  padding: 0;
}

.dropdown-item {
  padding: 0.5rem 1.5rem;
}