.PrimaryColor {
  color: #FBB017 !important;
}

.BgPrimaryColor {
  background-color: #FBB017 !important;
}

.BgSecondaryColor {
  background-color: #5e50a1 !important;
  color: white !important;
  border: 1px solid #5e50a1 !important;
}
